body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div:focus {outline:0;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'BundesSansWeb-Bold';
  src: local('BundesSansWeb-Bold'), url(./assets/fonts/BundesSchrift/BundesSansWeb-Bold.woff) format('woff');
}

@font-face {
  font-family: 'BundesSansWeb-Regular';
  src: local('BundesSansWeb-Regular'), url(./assets/fonts/BundesSchrift/BundesSansWeb-Regular.woff) format('woff');
}
